.hero-banner {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(28, 46, 87, 0.69);
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.9);
    transition: opacity 0.5s ease-in-out;
}

.hero-image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: overlay;
    opacity: 0.48;
    background: rgb(1, 35, 70); /* Light blue overlay */
}

.hero-image.hidden {
    opacity: 0;
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}